.product-table-container{
    width: 95%;
    margin: 0 auto;
    min-height: 390px;
    border: 1px solid greenyellow;
    margin-top: 10px;
}

.table-product th{
    min-width: 70px;
    padding: 0.5rem;
  }

